+input-label({inputObj:{name:'character name', type:'text'},spanObj:{'data-i18n':'Character Name'}})
+input-label({inputObj:{name:'level', type:'number'},spanObj:{'data-i18n':'Level'}})
+select-label({inputObj:{name:'species'},spanObj:{'data-i18n':'Species'}})
    +option({value:''})
        |Select One
    +option({value:'human'})
        |Human
    +option({value:'dwarf'})
        |Dwarf
    +option({value:'elf'})
        |Elf
    +option({value:'halfling'})
        |Halfling
    +option({value:'orc'})
        |Orc
label(for='experience', class='input-label')
    span(class='input-label__text', data-i18n='Experience')
    span(class='fill-box')
        +div({class:'radio-container'})
            +input({name:'experience1', type:'checkbox', value:'1', id:'experience-1'}).radio-input
            +input({name:'experience2', type:'checkbox', value:'2', id:'experience-2'}).radio-input
            +input({name:'experience3', type:'checkbox', value:'3', id:'experience-3'}).radio-input
            +input({name:'experience4', type:'checkbox', value:'4', id:'experience-4'}).radio-input
            +input({name:'experience5', type:'checkbox', value:'5', id:'experience-5'}).radio-input
            +input({name:'experience6', type:'checkbox', value:'6', id:'experience-6'}).radio-input
            +input({name:'experience7', type:'checkbox', value:'7', id:'experience-7'}).radio-input
            +input({name:'experience8', type:'checkbox', value:'8', id:'experience-8'}).radio-input
            +input({name:'experience9', type:'checkbox', value:'9', id:'experience-9'}).radio-input
            +input({name:'experience10', type:'checkbox', value:'10', id:'experience-10'}).radio-input
            +input({name:'experience11', type:'checkbox', value:'11', id:'experience-11'}).radio-input
            +input({name:'experience12', type:'checkbox', value:'12', id:'experience-12'}).radio-input
+select-label({inputObj:{name:'career one'},spanObj:{'data-i18n':'Career One'}})
    +option({value:''})
        |Select One
    +option({value:'acolyte'})
        |Acolyte
    +option({value:'archer'})
        |Archer
    +option({value:'assassin'})
        |Assassin
    +option({value:'blademaster'})
        |Blademaster
    +option({value:'crusader'})
        |Crusader
    +option({value:'deepdelver'})
        |Deep Delver
    +option({value:'huntsman'})
        |Huntsman
    +option({value:'knight'})
        |Knight
    +option({value:'mercenary'})
        |Mercenary
    +option({value:'monk'})
        |Monk
    +option({value:'priest'})
        |Priest
    +option({value:'skald'})
        |Skald
    +option({value:'tavernwench'})
        |Tavern Wench
    +option({value:'thief'})
        |Thief
    +option({value:'viking'})
        |Viking
    +option({value:'warlord'})
        |Warlord
    +option({value:'bluewizard'})
        |Wizard, Blue
    +option({value:'brownwizard'})
        |Wizard, Brown
    +option({value:'greywizard'})
        |Wizard, Grey
    +option({value:'redwizard'})
        |Wizard, Red
    +option({value:'whitewizard'})
        |Wizard, White
+input-label({inputObj:{name:'speed', type:'text'},spanObj:{'data-i18n':'Speed'}})
+select-label({inputObj:{name:'career two'},spanObj:{'data-i18n':'Career Two'}})
    +option({value:''})
        |Select One
    +option({value:'acolyte'})
        |Acolyte
    +option({value:'archer'})
        |Archer
    +option({value:'assassin'})
        |Assassin
    +option({value:'blademaster'})
        |Blademaster
    +option({value:'crusader'})
        |Crusader
    +option({value:'deepdelver'})
        |Deep Delver
    +option({value:'huntsman'})
        |Huntsman
    +option({value:'knight'})
        |Knight
    +option({value:'mercenary'})
        |Mercenary
    +option({value:'monk'})
        |Monk
    +option({value:'priest'})
        |Priest
    +option({value:'skald'})
        |Skald
    +option({value:'tavernwench'})
        |Tavern Wench
    +option({value:'thief'})
        |Thief
    +option({value:'viking'})
        |Viking
    +option({value:'warlord'})
        |Warlord
    +option({value:'bluewizard'})
        |Wizard, Blue
    +option({value:'brownwizard'})
        |Wizard, Brown
    +option({value:'greywizard'})
        |Wizard, Grey
    +option({value:'redwizard'})
        |Wizard, Red
    +option({value:'whitewizard'})
        |Wizard, White
+input-label({inputObj:{name:'tier', type:'number'},spanObj:{'data-i18n':'Tier'}})