include k-scaffold
include ./mixins/_index.pug
- const templateName = 'hordewarsadvanced';
//- Stores the sheet version number for use with version control functions
+hidden({name:'sheet version',value:0})
//- Now, for our actual sheet. We'll wrap this in a main element and give it an ID of main.
main#main
  +tabs({name:'hordewarsadvanced',defaultActiveTab:'character'}).flex-box.tiny-gap
    +tab({name:'character',container:'article'})
      include articles/character/_character.pug
    +tab({name:'npc',container:'article'})
      include articles/npc/_npc.pug
    +tab({name:'settings',container:'article'})
      include articles/settings/_settings.pug
    //- Add additional tabs as needed
    
//- An input to contain template fields that should always be output with a roll.
+hidden({name:'template start',value:`@{whisper}&{template:${templateName}} {{character_name=@{character_name}}} {{character_id=@{character_id}}}`})
include rolltemplate/_index.pug
+kscript('hordewarsadvanced')
  //- All additional javascript files should be included in the index file
  include ./javascript/_index.pug